<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content %>
</p>
<%if @message.url? %>
  <p>
    <a href="<%= @message.url %>"><%= @message.url %></a>
  </p>
<% end %>

<hr/>
<a href="/messages">Back to all Messages</a>